In [25]:
import pandas as pd

print(pd.__version__)

1.0.1

In [26]:
import pandas as pd
a1=pd.Series([1,2,3])
print(a1)

0    1
1    2
2    3
dtype: int64

In [27]:
import pandas as pd
b=pd.Series(["abc","def","hij"])
b

0    abc
1    def
2    hij
dtype: object

In [28]:
a1.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [32]:
a2=pd.Series([10,20,30],index=[2,4,6])
print(a2)
print(a2[2])

2    10
4    20
6    30
dtype: int64
10

In [33]:
a1.index=["a","b","c"]
a1

a    1
b    2
c    3
dtype: int64

In [34]:
a1.name="random numbers"
a1

a    1
b    2
c    3
Name: random numbers, dtype: int64

In [38]:
print(a1.values)
print(b.values)
a1.values

[1 2 3]
['abc' 'def' 'hij']

array([1, 2, 3], dtype=int64)

In [36]:
b.dtype

dtype('O')

In [37]:
a1.dtype

dtype('int64')

In [11]:
type(a1)

pandas.core.series.Series

In [12]:
type(a1.values)

numpy.ndarray

In [17]:
type(b.values)

numpy.ndarray

In [13]:
a1.index

RangeIndex(start=0, stop=3, step=1)

In [39]:
pd.Series({'a':2,'b':3,'c':4,'d':5},name='Series')

a    2
b    3
c    4
d    5
Name: Series, dtype: int64

In [41]:
d={'a':2,'b':3,'c':4,'d':5}
d

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [42]:
s=pd.Series(d,name="series")
s

a    2
b    3
c    4
d    5
Name: series, dtype: int64

In [44]:
s.iloc[0]

2

In [45]:
s[0]

2

In [46]:
s.loc['a']

2

In [18]:
a1=pd.DataFrame(
{"a":1,
"b":2,
"c":3,
"Age"=[1,2,3,4]})
print(a1)

SyntaxError: invalid syntax (<ipython-input-18-27132d76bc5c>, line 5)