In [7]:
t=(1,2,3)
t

(1, 2, 3, 4)

In [2]:
type(t)

tuple

In [3]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [4]:
len(t)

3

In [1]:
t2=('apple','banana','orange','grapes')
min(t2)

'apple'

In [2]:
max(t2)

'orange'

In [6]:
sum(t)

6

In [28]:
#slice
print(t[1])
print(t[-1])

2
3

In [8]:
#range slice
print(t[0:5])
print(t[1:3])
print(t[2:])
print(t[:-2])

(1, 2, 3, 4)
(2, 3)
(3, 4)
(1, 2)

# concatenation3wa
t1=(1,2,3)
t2=(4,5,6)
t1+t2

In [35]:
#repetation
t1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [8]:
str(t)

'(1, 2, 3)'

In [14]:
print(list(t))
type(t)

[1, 2, 3]

tuple

In [15]:
a=(1,2,3,4)
l=list(a)
print(l)
print(type(l))

[1, 2, 3, 4]
<class 'list'>

In [13]:
print(set(t))
type(t)

{1, 2, 3}

tuple

In [11]:
dict(t)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [12]:
type(t)

tuple

In [16]:
t=(1,2,3,4,1,6)
t.count(1)

2

In [18]:
t.index(1)

0

In [9]:
t[1]=1000
t

TypeError: 'tuple' object does not support item assignment

In [22]:
"""to perform any operartions on a tuple simply convert it into list 
then do the operations 
and again convert it into tuple"""
"hi"

'hi'

In [23]:
t=(1,2,3,4)
a=list(t)
a

[1, 2, 3, 4]

In [24]:
a[1]=20
a

[1, 20, 3, 4]

In [25]:
t=tuple(a)
t

(1, 20, 3, 4)

In [12]:
t=(21)
print(t)
type(t)

21

int

In [15]:
#all & any
a=()
b=(1,2,3)
type(a)
print(all(a))
print(any(a))
print(all(b))
print(any(b))

True
False
True
True

In [16]:
tuple=('p','y','t','h','o','n')
list(reversed(tuple))

['n', 'o', 'h', 't', 'y', 'p']

In [17]:
sorted(tuple)

['h', 'n', 'o', 'p', 't', 'y']

In [19]:
del tuple
tuple

NameError: name 'tuple' is not defined

In [20]:
#memebership
t=(1,2,3)
print(2 in t)
print(2 not in t)

True
False

In [23]:
#nested tuple
t1=(1,2,3,4)
t2=t1,("iiit sklm")
t2

((1, 2, 3, 4), 'iiit sklm')