In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/DEEPIKA/Documents/dsp/dsp programs/grouping.csv")
print(df)

   S No Name  Age  Salary Gender   Dept
0     1  abc   25    1200      m    cse
1     2  def   34    1500      f    ece
2     3  pqr   25   10000      m    eee
3     4  mno   56   24500      f  civil
4     5  xyz   37    7400      m    cse
5     6  jkl   28   23000      f   ecce
6     7  tuv   36    1200      m   mech
7     8  qwe   12   35000      f    cse

In [3]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000248D70628C8>

In [5]:
print(df.groupby(["Gender","Dept"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000248D7300B08>

In [7]:
a=df.groupby(["Gender"])
print(a.groups)

{'f': Int64Index([1, 3, 5, 7], dtype='int64'), 'm': Int64Index([0, 2, 4, 6], dtype='int64')}

In [8]:
a=df.groupby(["Gender","Dept"])
print(a.groups)

{('f', 'civil'): Int64Index([3], dtype='int64'), ('f', 'cse'): Int64Index([7], dtype='int64'), ('f', 'ecce'): Int64Index([5], dtype='int64'), ('f', 'ece'): Int64Index([1], dtype='int64'), ('m', 'cse'): Int64Index([0, 4], dtype='int64'), ('m', 'eee'): Int64Index([2], dtype='int64'), ('m', 'mech'): Int64Index([6], dtype='int64')}

In [10]:
print(df.groupby(["Salary"]).max())

        S No Name  Age Gender   Dept
Salary
1200       7  tuv   36      m   mech
1500       2  def   34      f    ece
7400       5  xyz   37      m    cse
10000      3  pqr   25      m    eee
23000      6  jkl   28      f   ecce
24500      4  mno   56      f  civil
35000      8  qwe   12      f    cse

In [11]:
print(df.groupby("Age").sum())

     S No  Salary
Age
12      8   35000
25      4   11200
28      6   23000
34      2    1500
36      7    1200
37      5    7400
56      4   24500

In [12]:
print(df.groupby("Name").groups)

{'abc': Int64Index([0], dtype='int64'), 'def': Int64Index([1], dtype='int64'), 'jkl': Int64Index([5], dtype='int64'), 'mno': Int64Index([3], dtype='int64'), 'pqr': Int64Index([2], dtype='int64'), 'qwe': Int64Index([7], dtype='int64'), 'tuv': Int64Index([6], dtype='int64'), 'xyz': Int64Index([4], dtype='int64')}

In [13]:
g=df.groupby("Gender")
print(g.get_group("m"))

   S No Name  Age  Salary Gender  Dept
0     1  abc   25    1200      m   cse
2     3  pqr   25   10000      m   eee
4     5  xyz   37    7400      m   cse
6     7  tuv   36    1200      m  mech

In [14]:
g=df.groupby("Dept")
print(g.get_group("cse"))

   S No Name  Age  Salary Gender Dept
0     1  abc   25    1200      m  cse
4     5  xyz   37    7400      m  cse
7     8  qwe   12   35000      f  cse

In [15]:
df["Gender"].value_counts()

f    4
m    4
Name: Gender, dtype: int64